.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

.responsive-image img {
    width: 100% !important;
    height: auto;
}

@media screen and (min-width: 768px) {
    .responsive-image img {
        width: auto !important;
    }
}
